NxtLite/bin
NxtLite/obj
NxtLite/libs
*.exe
NxtLite/assets/*
*.userprefs
packages
!NxtLite/assets/nxtlite.js
!NxtLite/assets/bootbox.min.js
!NxtLite/assets/README.md
build
electron
libdmg-hfsplus
inno
